* {
    margin: 0;
    padding: 0;
}

#nevar {

    background-color: #0f1111;
    color: white;
    height: 60px;

}

a {

    text-decoration: none;
    color: white;
    margin-right: 200px;
}

#logo {
    font-size: 25px;
    margin-left: 2px;
    color: #ff9900;
    font-weight: bold;
    text-decoration: none;
}

input {
    margin-left: 200px;
}

button {
    background-color: #f08804;
}

.contentbox {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
}

#content {
    height: 800px;
}

footer {
    background-color: #0f1111;
    color: white;
    text-align: center;
}